{% extends "layout.html" %}

{% block title %}
    Finance
{% endblock %}

{% block main %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">TOTAL</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for quote in quote_info %}
            <tr>
                <th scope="row">{{ quote["symbol"] }}</th>
                <td> {{ quote["name"] }} </td>
                <td> {{ quote["share"] }} </td>
                <td> {{ quote["price"] }} </td>
                <td> {{  quote["total"] }} </td>
                <td> <a type="button" class="btn btn-outline-success" href="/buy/{{ quote["symbol"] }}">Buy</a>
                    <a type="button" class="btn btn-outline-danger" href="/sell/{{ quote["symbol"] }}">Sell</a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th scope="row"> CASH </th>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ cash }}</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ total }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
            


{% endblock %}
